header{
    background: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
    display: flex;
}

h1{
    display: inline-block;
}

.disconnect{
    background-color: #FFD7D7;
    padding: 5px;
    display: block;
    width: 100px;
    margin: auto;
}
.disconnect:hover{
    background-color: #FD2D01;
    cursor: pointer;
}

header a{
    color:white;
    text-decoration: none;
}

header img{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
}